<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>

<div class="about-us-container">
    <h1>About us</h1>
    <p>
        Discover a wide array of delicious recipes that are as nutritious as they are satisfying.
        Our recipes are designed to fuel your body and support your fitness goals without sacrificing flavor.
    </p>
    <p>
        Join a vibrant community of like-minded individuals who share your passion for fitness and healthy living.
        Connect, share your progress, and find inspiration in the success stories of others.
    </p>
</div>

<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>